src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a43dcee6-b3c3-45ba-9ff7-f18907d5ea89" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training"/>
	</db:config>
	<flow name="getAccounts" doc:id="b2e49c9a-778d-42d6-a36f-a6ad530f09a4" >
		<set-variable value="#[attributes.queryParams.'type' default 'personal']" doc:name="accountType" doc:id="3ca1a165-6511-477a-b560-e76825a3f7de" variableName="accountType"/>
		<db:select doc:name="Get Accounts" doc:id="c70fba42-c2ae-4fca-9983-7093a5af3b85" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from flights_customers where accountType = :val and accountID = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{val: vars.accountType,
	id: attributes.headers.'Requesters-ID'
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="487a1b9f-0dfc-412e-a7ac-5ef3f42f71fa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import substringBefore , substringAfterLast from dw::core::Strings
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.accountID default "",
	firstName: payload01.name default "" ,
	lastName: payload01.name default "" ,
	address: ((payload01.street default "") ++ ", " ++ (payload01.city default "")) ++ ", " ++ (payload01.state default ""),
	postal: payload01.postal default "",
	country: payload01.country default "",
	miles: payload01.miles default 0,
	creationDate: payload01.creationDate as String default "",
	"type": payload01.accountType default ""
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postAccounts" doc:id="45014565-d2e7-4c29-9932-a45b2c109f9c" >
		<set-payload value="Accounts added successfully" doc:name="Set Payload" doc:id="0008b745-ec20-4782-92ce-202e5221c13b" />
	</flow>
</mule>
